.movie-card{
  border: 1px solid gray;
  display: inline-flex;
  height: 400px;
  width: 200px;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.movie-title{
  font-weight: bold;
}